body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  margin-bottom: 100px;
}

h1 {
  font-size: 5rem;
}
hr {
  width: 100%;
  border: 2px solid orange;
  border-radius: 50%;
}

footer {
  color: orange;
}
.foot{
  text-align: left;
  float: left;
}
.copy{
  text-align: right;
}

.left{
  float: left;
}
.right {
  float: right;
}
.tile-image{
  height: 200px;
  float: left;
  margin: 20px;
}
.card {
  width: 45%;
}
.creative {
  color: midnightblue;
}



@media (max-width: 1280px) {
  .logo {
    width: 250px;
    margin-left: 20px;
    margin-top: 19px;
    float: left;
  }
  h1{
    font-size: 4rem;
    display: inline-block;
    max-width: 600px;
    margin-top: 0;
    margin-left: 10%;
  }
  .card {
    width: 100%;
    display: block;
    text-align: justify;
    margin-bottom: 30px;
  }
  
}
@media (max-width: 1085px) {
  .logo {
    float: left;
  }
  h1{
    font-size: 3rem;
    display: inline-block;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 5%;
  }
}

@media (max-width: 930px) {
  .logo {
    float: none;
  }
  h1{
    width: 100%;
    margin-left: 20px;
    max-width: 930px;
  }
}

@media (max-width: 680px) {
  .logo {
    width: 35%;
    margin-left: 33%;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card{
    width: 100%;
    display: block;
    text-align: justify;
    margin-bottom: 30px;
  }
  .card img{
    width: 100%;
    display: inline;
    object-fit: cover;
    margin-left: 0;
  }

}

